bs4
cryptography
colorama
flask
folium
geocoder
geopy
keras
matplotlib
mss
mysql.connector
numpy
opencv-contrib-python
pandas
pygame
pyinstaller
pypng
pyqrcode
PyQt5
pyserial
scikit-learn
tensorflow
virtualenv
requests

